<!-- Nav Container -->
<nav class="navbar is-transparent">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <h1 class=" title">
                    <i class="fas fa-code"></i> DevDash</h1>
            </a>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>
                {{#if user}}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="/documentation/overview/start/">
                        {{user.name}}
                    </a>
                    <div class="navbar-dropdown is-boxed">
                        <a class="navbar-item" href="/documentation/overview/start/">
                            Dashboard
                        </a>
                        <a class="navbar-item" href="/documentation/overview/start/">
                            Profile
                        </a>
                        <a class="navbar-item" href="/documentation/overview/start/">
                            Settings
                        </a>
                    </div>
                </div>
                {{/if}}
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        {{#if user}}
                        <p class="control">
                            <a class="button is-success" href="/user/logout">Logout</a>
                        </p>
                        {{else}}
                        <!-- Login Button -->
                        <p>
                            <a class="button is-success" href="/user/auth/github">
                                Login with GitHub
                            </a>
                        </p>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>