{{!-- Start of Projects repeating element --}}

<div class="tabs">
	<ul>
		<li class="is-active">
			<a>Completed</a>
		</li>
		<li>
			<a>In Progress</a>
		</li>
	</ul>
</div>
{{#if completed_at}}
<div class="completed-project">{{> project-info}}</div> {{else}}
<div class="inprogress-project">{{> project-info}}</div> {{/if}} {{> modals/edit-project}}
</div>
{{!-- end of repeating element --}}