<div class="tabs">
	<ul>
		<li class="is-active">
			<a>Completed</a>
		</li>
		<li>
			<a>In Progress</a>
		</li>
	</ul>
</div>
{{#if completed_at}}
<div class="completed-resource">
	{{> resource-info}}
</div>
{{else}}
<div class="inprogress-resource">
	{{> resource-info}}
</div>
{{/if}}