<!DOCTYPE html>
<html lang="en-us">

<head>

    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bulma -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="../public/css/devdash2.css" type="text/css" />

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery.js"></script>

    <!-- Javascript -->
    <script src="../public/js/devdash.js"></script>

    <title>Devdash</title>

</head>

<body>
	{{{body}}}
</body>

</html>