<div class="container">

	<!-- Nav Container -->
	<nav class="level">

		<!-- Left Side -->
		<div class="level-left">
			<div class="level-item">
				<p class="subtitle is-3">
					<strong>Devdash</strong>
				</p>
			</div>
		</div>

		<!-- Right side -->
		<div class="level-right">

			{{#if user}}
			<p class="level-item">
				<a href="/user/logout">Logout</a>
			</p>
			{{else}}
			<!-- Username -->
			<p class="level-item">
				<div class="field" id="form_id">
					<p class="control has-icons-left has-icons-right">
						<input class="input" id="email" type="email" placeholder="Email">
						<span class="icon is-small is-left">
							<i class="fas fa-envelope"></i>
						</span>
						<span class="icon is-small is-right">
							<i class="fas fa-check"></i>
						</span>
					</p>
				</div>
			</p>

			<!-- Password -->
			<p class="level-item">
				<div class="field" id="form_id">
					<p class="control has-icons-left">
						<input class="input" id="password" type="password" placeholder="Password">
						<span class="icon is-small is-left">
							<i class="fas fa-lock"></i>
						</span>
					</p>
				</div>
			</p>

			<!-- Login Button -->
			<p class="level-item">
				<div class="field">
					<p class="control">
						<button class="button is-success" onclick="submitLogin()">
							Login
						</button>
					</p>
				</div>
			</p>
		</div>
		{{/if}}
	</nav>

	<!-- Project Column -->
	<div class="columns">
		<div class="column"></div>

		<div class="column is-5 card" id="projectContainer">
			<strong>Project List</strong>
			<a class="button modal-button project-button" data-target="modal-ter">Add Project</a>
			<div class="modal project-modal">
				<div class="modal-background"></div>
				<div class="modal-card">
					<header class="modal-card-head">
						<p class="modal-card-title">Add a Project</p>
					</header>
					<section class="modal-card-body">

						<!-- Project Name Input -->
						<div class="field">
							<label class="label">Name of Project</label>
							<div class="control">
								<input class="input" type="text" placeholder="">
							</div>
						</div>

						<!-- Progress Input -->
						<div class="field">
							<label class="label">Progress</label>
							<div class="control">
								<input class="input" type="text" placeholder="(0-100%)">
							</div>
						</div>

						<!-- Dropdown -->
						<div class="field">
							<label class="label">Priority</label>
							<div class="control">
								<div class="select">
									<select>
										<option value="high">High</option>
										<option value="normal">Normal</option>
										<option value="low">Low</option>
									</select>
								</div>
							</div>
						</div>
					</section>
					<footer class="modal-card-foot">
						<button class="button is-success">Save changes</button>
						<button class="button project-cancel">Cancel</button>
					</footer>
				</div>
			</div>
			<br>
			<br> {{#each project}} {{> project-block}} {{/each}}
		</div>

		<!-- Resources -->
		<div class="column is-5 card" id="resourceContainer">
			<strong>Resource List</strong>
			<a class="button modal-button resource-button" data-target="modal-ter">Add Resource</a>
			<div class="modal resource-modal">
				<div class="modal-background"></div>
				<div class="modal-card">
					<header class="modal-card-head">
						<p class="modal-card-title">Add a Resource</p>
					</header>
					<section class="modal-card-body">

						<!-- Project Name Input -->
						<div class="field">
							<label class="label">Name of Resource</label>
							<div class="control">
								<input class="input" type="text" placeholder="">
							</div>
						</div>

						<!-- Progress Input -->
						<div class="field">
							<label class="label">Resource URL</label>
							<div class="control">
								<input class="input" type="text" placeholder="">
							</div>
						</div>

						<!-- Dropdown -->
						<div class="field">
							<label class="label">Priority</label>
							<div class="control">
								<div class="select">
									<select>
										<option value="high">High</option>
										<option value="normal">Normal</option>
										<option value="low">Low</option>
									</select>
								</div>
							</div>
						</div>

					</section>
					<footer class="modal-card-foot">
						<button class="button is-success">Save changes</button>
						<button class="button resource-cancel">Cancel</button>
					</footer>
				</div>
			</div>
			<br>
			<br> {{#each resource}} {{> resource-block}} {{/each}}

		</div>

		<div class="column"></div>
	</div>

	<!-- Footer Column -->
	<div class="columns">

		<div class="column"></div>
		<div class="column is-10 card">Filler Content</div>
		<div class="column"></div>

	</div>

</div>

<script>

	$(".dropdown").click(function () {
		$(this).toggleClass('is-active');
	})

	$(".resource-button").click(function () {
		$(".resource-modal").toggleClass('is-active');
	})

	$(".resource-cancel").click(function () {
		$(".resource-modal").toggleClass('is-active');
	})

	$(".project-button").click(function () {
		$(".project-modal").toggleClass('is-active');
	})

	$(".project-cancel").click(function () {
		$(".project-modal").toggleClass('is-active');
	})

	$(".edit").click(function () {
		$("edit-modal").toggleClass('is-active');
	})

	$('.edit-cancel').click(function () {
		$(".edit-modal").toggleClass('is-active');
	})

</script> {{!-- Projects list --}}
<ul>
	{{#each project}} {{> project-block}} {{/each}}
</ul>

{{!-- Resources list --}}
<ul>
	{{#each resource}} {{> resource-block}} {{/each}}
</ul>