<!-- Nav Container -->
<nav class="navbar is-transparent">
	<div class="container">
		<div class="navbar-brand">
			<a class="navbar-item" href="/">
				<h1 class=" title">DevDash</h1>
			</a>
			<div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>

		<div class="navbar-menu">
			<div class="navbar-start">
				<a class="navbar-item" href="/">
					Home
				</a>
				{{#if user}}
				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link" href="/documentation/overview/start/">
						{{user.name}}
					</a>
					<div class="navbar-dropdown is-boxed">
						<a class="navbar-item" href="/documentation/overview/start/">
							Dashboard
						</a>
						<a class="navbar-item" href="/documentation/overview/start/">
							Profile
						</a>
						<a class="navbar-item" href="/documentation/overview/start/">
							Settings
						</a>
					</div>
				</div>
				{{/if}}
			</div>

			<div class="navbar-end">
				<div class="navbar-item">
					<div class="field is-grouped">
						{{#if user}}
						<p class="control">
							<a class="button is-success" href="/user/logout">Logout</a>
						</p>
						{{else}}
						<!-- Login Button -->
						<p>
							<a class="button is-success" href="/user/auth/github">
								Login with GitHub
							</a>
						</p>
						{{/if}}
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>

<!-- Project Column -->
<section class="section">
	<div class="container">
		{{#if user}}
		<div class="columns">
			<div class="column is-6 card" id="projectContainer">
				<h2 class="subtitle">Projects</h2>
				{{#unless projects}}
				<div class="notification is-info">
					Hey, you don't have any projects! Surely you're working on some things! Add them here and keep track of your progress. You
					can set goals by creating
					<strong>Milestones</strong> with due dates, much like you would with GitHub. We'll help keep you accountable.
				</div>
				{{/unless}} {{#each projects}} {{> project-block}} {{/each}}
				<a class="button modal-button project-button is-primary" data-target="modal-ter">Add Project</a>
				<div class="modal project-modal">
					<div class="modal-background"></div>
					<div class="modal-card">
						<header class="modal-card-head">
							<p class="modal-card-title">Add a Project</p>
						</header>
						<section class="modal-card-body">

							<!-- Project Name Input -->
							<div class="field">
								<label class="label">Name</label>
								<div class="control">
									<input class="input" type="text" placeholder="" id="projectSubmitNameField">
								</div>
							</div>

							<!-- Project Description Input -->
							<div class="field">
								<label class="label">Description</label>
								<div class="control">
									<input class="input" type="text" placeholder="" id="projectSubmitDescriptionField">
								</div>
							</div>

							<!-- Progress Input -->
							<div class="field">
								<label class="label">Progress</label>
								<div class="control">
									<input class="input" type="text" placeholder="(0-100%)" id="projectSubmitProgressField">
								</div>
							</div>

							<!-- Due Date Input -->
							<div class="field">
								<label class="label">Due Date</label>
								<div class="control">
									<input class="input" type="date" id="projectSubmitDueDateField">
								</div>
							</div>

							<!-- Dropdown -->
							<div class="field">
								<label class="label">Priority</label>
								<div class="control">
									<div class="select">
										<select id="projectSubmitProgressField">
											<option value="2">High</option>
											<option value="1">Normal</option>
											<option value="0">Low</option>
										</select>
									</div>
								</div>
							</div>
						</section>
						<footer class="modal-card-foot">
							<button class="button is-success" id="submitNewProject">Save changes</button>
							<button class="button project-cancel">Cancel</button>
						</footer>
					</div>
				</div>
			</div>

			<!-- Resources -->
			<div class="column is-6 card" id="resourceContainer">
				<h2 class="subtitle">Resources</h2>
				{{#unless resources}}
				<div class="notification is-info">
					Hey, you don't have any resources added! Why not add some articles you want to read, or a tutorial?
				</div>
				{{/unless}} {{#each resources}} {{> resource-block}} {{/each}}
				<a class="button modal-button resource-button is-primary" data-target="modal-ter">Add Resource</a>
				<div class="modal resource-modal">
					<div class="modal-background"></div>
					<div class="modal-card">
						<header class="modal-card-head">
							<p class="modal-card-title">Add a Resource</p>
						</header>
						<section class="modal-card-body">

							<!-- Project Name Input -->
							<div class="field">
								<label class="label">Name</label>
								<div class="control">
									<input class="input" type="text" placeholder="" id="resourceSubmitTitleField">
								</div>
							</div>

							<!-- Progress Input -->
							<div class="field">
								<label class="label">URL</label>
								<div class="control">
									<input class="input" type="text" placeholder="" id="resourceSubmitURLField">
								</div>
							</div>

							<!-- Dropdown -->
							<div class="field">
								<label class="label">Priority</label>
								<div class="control">
									<div class="select">
										<select id="resourceSubmitPriorityField">
											<option value="2">High</option>
											<option value="1">Normal</option>
											<option value="0">Low</option>
										</select>
									</div>
								</div>
							</div>

						</section>
						<footer class="modal-card-foot">
							<button class="button is-success" id="submitNewResource">Save changes</button>
							<button class="button resource-cancel">Cancel</button>
						</footer>
					</div>
				</div>
			</div>
		</div>

		{{!--
		<div class="columns">

			<div class="column"></div>
			<div class="column is-10 card">Stats</div>
			<div class="column"></div>

		</div>
		--}} {{else if error}}
		<div class="notification is-danger">{{ error }}</div>
		{{/if}}

	</div>
</section>
{{!-- Projects list --}}
<ul>
	{{#each project}} {{> project-block}} {{/each}}
</ul>

{{!-- Resources list --}}
<ul>
	{{#each resource}} {{> resource-block}} {{/each}}
</ul>