<section class="section">
	{{> nav}}

	<!-- Project Column -->
	<section class="section">
		<div class="container">
			{{#if user}}
			<div class="columns">
				<div class="column is-6 card" id="projectContainer">
					<h2 class="subtitle">Projects</h2>
					{{#unless projects}}
					<div class="notification">
						Hey, you don't have any projects! Surely you're working on some things! Add them here and keep track of your progress. You
						can set goals by creating
						<strong>Milestones</strong> with due dates, much like you would with GitHub. We'll help keep you accountable.
					</div>
					{{/unless}} {{#each projects}} {{> project-block}} {{/each}}
					<a class="button modal-button project-button is-success" data-target="modal-ter">Add Project</a>
					{{> modals/add-project}}
				</div>

				<!-- Resources -->
				<div class="column is-6 card" id="resourceContainer">
					<h2 class="subtitle">Resources</h2>
					{{#unless resources}}
					<div class="notification is-warning">
						Hey, you don't have any resources added! Why not add some articles you want to read, or a tutorial?
					</div>
					{{/unless}} {{#each resources}} {{> resource-block}} {{/each}}
					<a class="button modal-button resource-button is-success" data-target="modal-ter">Add Resource</a>
					{{> modals/add-resource}}
				</div>
			</div>
			{{else if error}}
			<div class="notification is-danger">{{ error }}</div>
			{{/if}}

		</div>
	</section>

	{{> scoreboard}}
</section>