<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                DevDash
            </h1>
            <h2 class="subtitle">
                A developer-dashboard to help keep developing developers developing.
            </h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <a class="button is-success " href="/user/auth/github">
            Login with GitHub
        </a>
    </div>
</section>