<div class="container">

	<!-- Nav Container -->
	<nav class="level">

		<!-- Left Side -->
		<div class="level-left">
			<div class="level-item">
				<p class="subtitle is-3">
					<strong>Devdash</strong>
				</p>
			</div>
		</div>

		<!-- Right side -->
		<div class="level-right">

			<!-- Login Button -->
			<p class="level-item">
				<div class="field">
					<p class="control">
						<button class="button is-success" onclick="submitLogin()">
							Return to Homepage
						</button>
					</p>
				</div>
			</p>

		</div>

	</nav>

	<!-- Project Column -->
	<div class="columns">
		<div class="column"></div>

		<div class="column is-10 card">
			<strong>Devdash</strong>

			<br>
			<br>
			<div class="card">
				<header class="card-header">

					<!-- Progress Bar -->
					<p class="card-header-title">
						Progress
						<progress class="progress is-success" value="40" max="100">15%</progress>
					</p>

					<a class="card-header-icon" aria-label="more options">
						<div class="dropdown is-inactive">
							<div class="dropdown-trigger">
								<button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
									<span>Add a Milestone</span>
									<span class="icon is-small">
										<i class="fas fa-angle-down" aria-hidden="true"></i>
									</span>
								</button>
							</div>
							<div class="dropdown-menu" id="dropdown-menu" role="menu">
								<div class="dropdown-content">
									<a href="#" class="dropdown-item">
										Add a Milestone
									</a>
									<a class="dropdown-item">
										Edit
									</a>
									<hr class="dropdown-divider">
									<a href="#" class="dropdown-item">
										Delete
									</a>
								</div>
							</div>
						</div>
					</a>
				</header>

				{{#each milestone}} {{> milestone-block}} {{/each}}


			</div>
		</div>
		<div class="column"></div>
	</div>

</div>

<script>

	$(".dropdown").click(function () {
		$(this).toggleClass('is-active');
	})


	$(".project-button").click(function() {
		$(".project-modal").toggleClass('is-active');
	})

	$(".project-cancel").click(function() {
		$(".project-modal").toggleClass('is-active');
	})

	$(".edit").click(function() {
		$("edit-modal").toggleClass('is-active');
	})

	$('.edit-cancel').click(function() {
		$(".edit-modal").toggleClass('is-active');
	})

	$(".milestone-button").click(function() {
	    $(".milestone-modal").toggleClass('is-active');
  	})

  	$(".milestone-cancel").click(function() {
    	$(".milestone-modal").toggleClass("is-active");
	})
</script>