<section class="section">

	{{> nav}}

	<!-- Project Column -->
	<section class="section">
		<div class="container">
			{{#if error}}
			<div class="notification is-danger">
				{{ error }}
			</div>
			{{else}}
			<h2 class="subtitle">{{ project.title }}</h2>

			<div class="card">
				<header class="card-header">
					<!-- Progress Bar -->
					<p class="card-header-title">
						Progress
						<progress class="progress is-success" value="40" max="100">15%</progress>
					</p>

					<a class="button modal-button milestone-button is-success" data-target="modal-ter">Add Milestone</a>

					{{> modals/add-milestone}}

				</header>
				{{#each milestone}} {{> milestone-block}} {{/each}}
			</div>
		</div>
		{{/if}}
	</section>
</section>