<section class="section">

	{{> nav}}

	<!-- Project Column -->
	<section class="section">
		<div class="container">
			{{#if error}}
			<div class="notification is-danger">
				{{ error }}
			</div>
			{{else}}
			<h2 class="subtitle">
				<strong>Project: </strong>{{ project.title }}</h2>
			{{#unless milestones}}
			<div class="notification is-info">
				<p>Hey! This is your brand new project page. Here you can manage the tasks you need to complete for your project. Start
					by adding a new
					<strong>Milestone</strong>!</strong>
				</p>
			</div>
			{{/unless}}
			<div class="content">
				<a class="button modal-button milestone-button is-success" data-target="modal-ter">Add Milestone</a>
			</div>
			{{> modals/add-milestone}}
			<div class="card">
				<div class="card-content">
					<progress class="progress is-success" value="40" max="100">15%</progress>
					{{#if milestones}} {{#each milestones}} {{> milestone-block}} {{/each}} {{/if}}
				</div>
			</div>
		</div>
		{{/if}}
	</section>
	<input type="hidden" value="{{ project.id }}" id="project-id" />
</section>