.level-right {
	padding-top: 5px;
}

.is-5 {
	margin-left: 0.75em;
	margin-right: 0.75em;
}

.is-10{
	margin-top: 25px;
}

.card {
	margin-bottom: 5px;
}

.pagination {
	position: relative;
	bottom: 0px;
}

progress {
	margin-left: 10px;
}

#logo {
	font-family: 'ABeeZee', sans-serif;
}

.dropdown {
	margin: 10px;
}

.background {
	background-color: #00d1b2;
}

body, html {
	height: 100%;
}

.scroll {
	overflow: scroll;
	max-height: 400px;
}