<div class="modal edit-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Edit</p>
        </header>
        <section class="modal-card-body">
            <!-- Project Name Input -->
            <div class="field">
                <label class="label">Name of Project</label>
                <div class="control">
                    <input class="input" type="text" placeholder="" id="projectEditNameField">
                </div>
            </div>

            <!-- Project Name Input -->
            <div class="field">
                <label class="label">Description</label>
                <div class="control">
                    <input class="input" type="text" placeholder="" id="projectEditDescriptionField">
                </div>
            </div>

            <!-- Progress Input -->
            <div class="field">
                <label class="label">Progress</label>
                <div class="control">
                    <input class="input" type="text" placeholder="" id="projectEditProgressField">
                </div>
            </div>

            <!-- Due Date Input -->
            <div class="field">
                <label class="label">Due Date</label>
                <div class="control">
                    <input class="input" type="date" id="projectEditDueDateField">
                </div>
            </div>


            <!-- Dropdown -->
            <div class="field">
                <label class="label">Priority</label>
                <div class="control">
                    <div class="select">
                        <select id="projectEditPriorityField">
                            <option value="high">High</option>
                            <option value="normal">Normal</option>
                            <option value="low">Low</option>
                        </select>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer class="modal-card-foot">
            <button class="button is-success" id="submitEditProject" data-projectId="{{id}}">Save changes</button>
            <button class="button edit-cancel">Cancel</button>
        </footer>
    </div>
</div>