<div class="modal edit-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Edit</p>
        </header>
        <section class="modal-card-body">
            <!-- Resource Title Input -->
            <div class="field">
                <label class="label">Title</label>
                <div class="control">
                    <input class="input" type="text" placeholder="" id="ResourceEditTitleField">
                </div>
            </div>

            <!-- Resource URL Input -->
            <div class="field">
                <label class="label">URL</label>
                <div class="control">
                    <input class="input" type="text" placeholder="" id="ResourceEditURLField">
                </div>
            </div>

            <!-- Dropdown -->
            <div class="field">
                <label class="label">Priority</label>
                <div class="control">
                    <div class="select">
                        <select id="ResourceEditPriorityField">
                            <option value="high">High</option>
                            <option value="normal">Normal</option>
                            <option value="low">Low</option>
                        </select>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer class="modal-card-foot">
            <button class="button is-success" id="submitEditedResource" data-resourceId="{{id}}">Save changes</button>
            <button class="button edit-cancel">Cancel</button>
        </footer>
    </div>
</div>