.level-right {
	padding-top: 5px;
}

.is-5 {
	margin-left: 0.75em;
	margin-right: 0.75em;
}

.is-10{
	margin-top: 25px;
}

.card {
	margin-bottom: 5px;
}

.pagination {
	position: relative;
	bottom: 0px;
}