<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

        <!-- CSS -->
		<link rel="stylesheet" href="/assets/css/devdash.css" type="text/css" />

        <!-- Jquery --> 
		<script src="https://code.jquery.com/jquery.js"></script>

        <!-- Javascript -->
		<script src="/assets/js/devdash.js"></script>

		<title>Devdash</title>
	</head>

	<body>
		{{{ body }}}
	</body>

</html>